*{
	margin: 0px;
	padding: 0px;
	color: white;
}
div{
	display: block;
	background-color: #0078D8;
}


.wrapper{
	height: 360px;
	width: 100%;
}

.inner{
	width: 740px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}
.logo{
	height: 124px;
	width: 345px;
	position: absolute;
	top: 120px;
	left: 312px;
	background-image: url("img/logo.png");
}
#sign-in,#sign-up{
	margin-top: 40px;
	margin-bottom: auto;
	width: 202px;
	float: right;
}

.title-label{
	float: left;
}
.form-title a{
	float: right;
	text-decoration: none;
}

.input input{
	color: black;
	margin-top: 20px;
    padding: 8px 10px;
    width: 100%;
    background: #e7f1f8;
    font-size: 15px;
    line-height: 17px;
    color: #555;
    border: 1px solid #1672B9;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(15,82,135,.25),0 1px 0 rgba(255,255,255,.15);
}
.sign-button{
	margin-top: 20px;
	width: 100%;
	line-height: 33px;
	border-radius: 5px;
	background-color: #80C3F7;
	font-size: 15px;
}

li{
	list-style: none;
}

li::before{
	content:url('img/fail.JPG');
}
